html{
    font-family: 'Times New Roman', Times, serif;
} 

body{
    max-width: max-content;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-weight: lighter;
}

h1{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    margin: 0;
    line-height: 3.25rem;
}

h2{
    font-weight: 560;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  
 
}

nav h2{
    margin: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;

}


h3{
    font-weight: 595;
    padding-top: 1.4rem;

}

nav h3{
    margin: 0;
    padding-top: 1.2rem;
    padding-bottom: 0.3rem;
}

h4{
    font-weight: 570;
}

strong{
    font-weight: bold;
}

